<%= form_with(model: tasks, local: true) do |f| %>

 <% if tasks.errors.any? %>
    <div id="error_explanation">

      <ul>
        <% tasks.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :status, 'ステータス' %>
  <%= f.text_field :status %>

  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>

  <%= f.submit '追加' %>
<% end %>